#logo-container {
    margin: 0 auto;
    width: 230px;
    font-family: lobster, cursive;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

#logo-container a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar {
    background-color: #428BCA;
    border-width: 0px;
}

#form-container {
    margin-top: 120px;
}

#main-container {
    margin-top: 120px;
}

#container {
    text-align: center;
}

.panel {
    width: 100%;
}

.bg-primary {
    padding: 18px 0px 5px 15px;
    opacity: 0.7;
    font-size: 18px;
    text-align: center;
}
.bg-primary a {
    color:#fff;
}


.list-group {
    margin-top: 20px;
}

.argument {
    display: none;
}

#comment_comment {
    margin: 10px 0 10px 0;
}