<style>
body
{
background-color:#000000;
}
@font-face
{
font-family: headerFont;
src: url(fonts/BirdsOfParadise.ttf);
}
header
{
background-color:#000000;
}
argument
{
background-color:#000000;
}
argument1
{
background-color:#808080;
outline-color:#000000;
outline-style:solid;
outline-width:thin;
}
argument2
{
background-color:#808080;
outline-color:#000000;
outline-style:solid;
outline-width:thin;
}
discription
{
background-color:#000000;
}
discription1
{
background-color:#808080;
outline-color:#000000;
outline-style:solid;
outline-width:thin;
}
discription2
{
background-color:#808080;
outline-color:#000000;
outline-style:solid;
outline-width:thin;
}
user1
{
background-color:#000000;
outline-color:#000000;
outline-style:solid;
outline-width:thin;
}
user2
{
background-color:#000000;
outline-color:#000000;
outline-style:solid;
outline-width:thin;
}
</style>